/* General styling for entire site */

body {
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

img {
  border:0;
}

#viewport {
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

/* Header and footer styling */
#head {
  height:40px;
  width:100%;
  border-bottom:1px solid #000;
  padding-bottom:20px;
}

#foot {
  height:40px;
  width:100%;
  clear:both;
}

#head img {
  margin-top:20px;
  margin-right:20px;
}

#lefthead,
#righthead,
#leftfoot,
#rightfoot {
  width:40px;
  height:40px;
}

#lefthead {
  float:left;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  margin:8px 0 0 4%;
}

#righthead {
  margin:8px 4% 0 0;
  float:right;
  border-bottom:1px solid #000;
  border-left:1px solid #000;
}

#leftfoot {
  margin:10px 0 10px 4%;
  float:left;
  border-top:1px solid #000;
  border-right:1px solid #000;
}

#rightfoot {
  margin:10px 4% 10px 0;
  float:right;
  border-top:1px solid #000;
  border-left:1px solid #000;
}

#titletop {
  width:100%;
  border-bottom:1px solid #000;
  clear:both;
  padding-top:16px;
}

#titlebottom {
  width:100%;
  border-top:1px solid #000;
  margin-top:4px;
  margin-bottom:10px;
  clear:both;
}

#titlebarinner {
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  width:820px;
  clear:both;
}

#name,
#nav,
#contact,
#deco {
  margin-top:4px;
  margin-bottom:4px;
  margin-left:2px;
  margin-right:2px;
  float:left;
  border:1px dashed #ff0000;
}

#name {
  font-size:1.5em;
  height:36px;
  padding:10px 4px 4px 4px;
  width:227px;
  text-align:center;
  margin-left:0;
}

#name a{
  text-decoration:none;
  color:#000;
}

#nav {
  float:left;
  width:169px;
  height:36px;
  border:0;
}

#nav a {
  display:block;
  text-decoration:none;
  color:#000;
  font-size:.8em;
  letter-spacing:.1em;
}

#nav a:hover,
#name a:hover {
  font-weight:bold;
}

.projectslink, .relatedlink {
  text-align:center;
  border:1px dashed #ff0000;
  display:block;
  padding:3px 0 3px 0;
  height:16px;
}

.projectslink {
  margin-bottom:4px;
}

#contact {
  background:url(/img/nth.gif) right no-repeat;
  font-size:.65em;
  line-height:1em;
  float:left;
  border:1px dashed #ff0000;
  height:42px;
  padding:4px 41px 4px 4px;
  width:180px;
}

.ph {
  text-align:left;
  padding-top:8px;
}

#deco {
  float:left;
  border:1px dashed #ff0000;
  height:50px;
  padding:0;
  width:169px;
  background:url(/img/dec.gif) no-repeat;
  margin-right:0;
}

#disclaim {
  text-transform:uppercase;
  font-weight:bold;
  font-size:6px;
  color:#999;
  text-align:right;
  margin-left:auto;
  margin-right:auto;
  width:820px;
  padding-right:10px;
}

#home_plus {
  margin: auto 0;
  width: 82%;
  height:50px;
  text-align:center;
  display: inline-block;
}

#home_plus img {
  margin:5px auto;
  opacity: 0;
  height: 50px;
}

#home_plus a {
  text-decoration:none;
}

#home_plus:hover img,
#home_plus a:focus img {
  transition: .3s;
  opacity: 1;
}

.socialfoot {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.socialfoot a {
  text-decoration: none;
}

.socialfoot a img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  border:1px dashed #ff0000;
}

.socialfoot a:hover img,
.socialfoot a:focus img {
  opacity: 1;
}

/* Layout options for all pages */
#maincol {
  float:left;
  width:82%;
  margin-left:1%;
  margin-right:1%;
  font-size:.8em;
}

#maincol h1 {
  font-size:1.7em;
  margin-top:8px;
  margin-bottom:16px;
  padding-bottom:0;
  font-weight:normal;
  text-align:left;
}

#maincol p {
  text-align:justify;
}

#centerthis,
.centerthis {
  width:820px;
  margin-left:auto;
  margin-right:auto;
}

.centerthis {
  display: table;
  margin-bottom: 20px;
}

.navigation_arrow {
  float:left;
  width:8%;
  text-align:left;
  padding-top:350px;
}

.left {
  float:left;
}

.right {
  float:right;
}

/* Splash page */
#plus {
  margin:auto;
  width:100%;
  height:120px;
  margin-top:155px;
  margin-bottom:105px;
  text-align:center;
}

#plus img {
  margin-bottom:8px;
}

#plus a {
  text-decoration:none;
}

.enter {
  color:#000;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:.05em;
  font-size:1.1em;
  padding-top:20px;
}

.splash #home_plus {
  display: none;
}

.splash .navigation_arrow {
  opacity: 0;
  cursor: default;
}

/* Profile page */
.profileimg {
  float:right;
  margin:20px 0 0 16px;
  border:0px solid #000;
}

#nrintro {
  text-align:left;
  width:100%;
  line-height:1.4em;
  font-size:1.1em;
}

#nrintro p {
  margin-top:0;
  margin-bottom:1em;
}

.profilecontact {
  font-weight:bold;
}

.biohead {
  font-size:1em;
}

.quals {
  font-size:.85em;
}

#toby,
#anna {
  padding-top:1em;
  text-align:left;
}

/* Projects main page */
.projects a img {
  border:2px solid #fff;
}
.projects a:hover img,
.projects a:focus img  {
  border:2px solid #000;
}

.projects-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.galleryitem {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.galleryitem,
.galleryitem img {
  max-height: 250px;
  max-width: 200px;
}

/* individual project pages */
.leftcolumn {
  width:380px;
  display: inline-block;
}

.rightcolumn {
  float:right;
  margin-right:4px;
  padding-bottom:20px;
  text-align:right;
}

.rightcolumn,
.rightcolumn img {
  width:400px;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;;
  align-items: center;
}
.gallery_thumb {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.gallery_thumb a {
  text-decoration: none;
}

.gallery_thumb img {
  border:2px solid #fff;
}

.gallery_thumb a:hover img {
  border:2px solid #000;
}

/* Art and Unbuilt pages */

.artgallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.artgallery_thumb {
  display: inline-block;
  text-align:justify;
  margin-bottom:12px;
}

.artgallery_thumb  a img {
  border:2px solid #fff;
}

.artgallery_thumb  a:hover img,
.artgallery_thumb  a:focus img   {
  border:2px solid #000;
}

.row1 {
  order: 1;
}
.row2 {
  order: 2;
}
.row3 {
  order: 3;
}
.row4 {
  order: 4;
}

@media all and (max-width: 500px) {
  .artgallery,
  .projects-list  {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .leftcolumn,
  .rightcolumn {
    width: 100%;
  }
}

/* Video pages */

.video a img {
  border:2px solid #fff;
}
.video a:hover img,
.video a:focus img {
  border:2px solid #000;
}

/* Awards amd Publications page */

.publications ul li {
  padding-bottom: .5em;
}

.publications .rightcolumn img {
  width:200px;
  height: 286px;
  margin-right: 75px;
}
