<div id="titletop"></div>

<div id="titlebarinner">
  <div id="name">
    <a href="/profile/">nervegna reed</a>
  </div>
  <div id="nav">
    <div class="projectslink"><a href="/projects/">selected projects</a></div>
    <div class="relatedlink"><a href="/awards/">awards + publications</a></div>
  </div>

  <div id="contact">
    <div class="address">
      level 2/ 491 king st<br />
      west melbourne &nbsp; victoria &nbsp; 3003, australia<br />
    </div>
    <div class="ph">
      T: +61409788804 / <a href="mailto:nr@n-r.com.au">nr@n-r.com.au</a>
    </div>
  </div>
  <div id="deco">
    &nbsp;
  </div>
</div>

<div id="titlebottom"></div>

<div id="disclaim">
  Do not scale drawings. Use figured dimensions only. All dimensions to be checked on site. This drawing to be read in conjunction with all other drawings, specifications, consultants details &amp; architects instructions.
  Copyright of the contents of this drawing and images is retained by the architect. Written consent must be obtained prior to any use or reproduction of this drawing, or part thereof.
</div>

<div id="foot">
  <div id="leftfoot">
    &nbsp;
  </div>
  <div id="rightfoot">
    &nbsp;
  </div>
</div>

<div class="socialfoot">
  <a href="https://www.facebook.com/nervegnareedarch/" target="_blank">
    <img src="/img/social_icons/facebook_icon.png">
  </a>
  <a href="https://twitter.com/nervegnareed" target="_blank">
    <img src="/img/social_icons/twitter_icon.png">
  </a>
  <a href="https://www.youtube.com/channel/UCLDgYFQsGxVMB_hSs8yB_3g" target="_blank">
    <img src="/img/social_icons/youtube_icon.png">
  </a>
  <a href="https://plus.google.com/115668513015631675447/posts" target="_blank">
    <img src="/img/social_icons/googleplus_icon.png">
  </a>
  <a data-pin-do="buttonBookmark" data-pin-custom="true" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/">
    <img src="http://i.imgur.com/oaeKVKH.png" height="25"/>
  </a>
</div>
